{% set donors = Donors.donors%}
{% if (donors | length) == NULL%}
<h3>We do not have any registered donors in our system. Please click <a href="{{url('register')}}">Here</a> to register yourself</h3>
{% else %}
<div class="container">
    {%if (donors | length)<=4 %} {% set div=12/(donors | length) %} {% else %} {% set div=3 %} {% endif %} <div
        class="row">
        {% for donor in donors %}
        <div class="col-md-{{div}}">
            <img class="card-img-top" src="{% if donor.avatar != NULL %}{{donor.avatar.getPath()}}{%else%}https://source.unsplash.com/user/erondu/200x200{%endif%}" alt="Card image cap" height="200px" width="200px"
                style="margin: 4rem 0 0 0 ;">
            <div class="card-body">
                <h5 class="card-title">{{donor.name~' '~donor.surname}}</h5>
                <p class="card-text">{{ donor.address }}</p>
                <p class="card-text">{{ donor.phone }}</p>
                {% for request in donor.requests %}
                <p class="card-text">{{ request.title }}</p>
                {% endfor %}
                <a href="donors/{{donor.id}}">
                    <button class="btn-primary" type="submit">Details</button>
                </a>
            </div>
        </div>
        {% endfor %}
</div>
</div>
{% endif %}